<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  </head>
  <body>
    <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">ContactApp</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Sign up</a></li>
        <li><a class="logout" href="#">Logout</a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
    <div class="nav-content">
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" href="/add">
        <i class="material-icons">add</i>
      </a>
    </div>
  </nav>
